*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #23424A;
    padding: 100px 0;
    color: #FFFFFFD9;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    width: 75%;
    margin-top: 0;
}

.hero p {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-img {
    align-self: flex-start;
}

button {
    padding: .75em 2em; 
    background-color: #38CFD9;
    font-size: 21px;
    font-weight: bold;
    color: #072A2D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 40px;
}

.row {
    display: flex;
    gap: 30px;
}

.col {
    text-align: center;
}

p {
    font-size: 1.125rem;
}

.two-columns {
    background-color: #136C72;
    padding: 3em 0;
    color: #FFFFFFD9;
}

.three-columns {
    padding: 3em 0;
}

.accent-text {
    color: #87629A;
}

h2 {
    font-size: 2rem;
}